<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    {% assign news = site.news | reverse %}
    {% if include.limit and page.announcements.limit %}
      {% assign news_limit = page.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    <ul class="news-list">
      {% assign prev_date = "" %}
      {% for item in news limit: news_limit %}
        {% assign item_year = item.date | date: '%Y' | plus: 0 %}
        {% assign min_year = include.since | default: 0 | plus: 0 %}
        {% if item_year >= min_year %}
          {% assign curr_date = item.date | date: '%Y.%m' %}
          <li class="news-item{% if curr_date == prev_date %} news-item-grouped{% endif %}">
            <span class="news-date">{% if curr_date != prev_date %}{{ curr_date }}{% endif %}</span>
            <span class="news-content">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </span>
          </li>
          {% assign prev_date = curr_date %}
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
